body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

* {
    padding: 0;
    margin: 0;
}

/*Grid Styles*/

#contactWrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "logo nav nav nav nav buttons"
        "header header header header header header"
        "form form form . mySchedule mySchedule"
        "form form form . mySchedule mySchedule"
        "form form form . mySchedule mySchedule"
        "form form form . mySchedule mySchedule"
        "form form form . test test"
        "form form form . contactInfo contactInfo"
        "form form form . contactInfo contactInfo"
        "form form form . contactInfo contactInfo"
        "form form form . contactInfo contactInfo"
        "form form form . imageMap imageMap"
        "form form form . imageMap imageMap"
        "form form form . imageMap imageMap"
        "form form form . imageMap imageMap"
        ". FAQ FAQ FAQ FAQ ."
        "blueBorder blueBorder blueBorder blueBorder blueBorder blueBorder"
        "footer footer footer footer footer footer";
}

#fieldset {
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . ."
        ". fieldset fieldset . . .";
    grid-area: fieldset;
    border-color: darkgray;
    background-color: #f0f0f0;
    margin-left: 3rem;
    margin-bottom: 1em;
    border-radius: .5em;
    transition: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    max-width: 100%;
    max-height: 100%;
}


#formGrid {
    display: grid;
    grid-template-columns: (6, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
        "note note note note note note"
        ". . . . . ."
        "label1 label1 input1 input1 input1 input1"
        "label2 label2 input2 input2 input2 input2"
        "label3 label3 input3 input3 input3 input3"
        "label4 label4 input4 input4 input4 input4"
        "label5 label5 input5 input5 input5 input5"
        "label6 label6 input6 input6 input6 input6"
        "label7 label7 input7 input7 input7 input7"
        "label8 label8 input8 input8 input8 input8"
        "label9 label9 input9 input9 input9 input9"
        "submitButton . . . . .";
}


/*End Grid Styles*/

/*Form Grid Area*/

/*Logo*/
.logo { 
    grid-area: logo;
    margin-top: 5px;
    width: auto;
    text-align: center;
    grid-area: logo;
    margin-left: 10px;
    padding: 0;}

/*End Logo*/

/*Nav */

 .nav {
    grid-area: nav;
    text-align: center;

}

nav ul {
    border-radius: .5em;
    border: 2px solid #009fff;
    list-style-type: none;
    margin: 10px;
    padding-top:0;
    display: grid;
    height: 50px;
    grid-template: auto / repeat(5, 1fr);
    grid-gap: px;
    align-content: center;
}
nav ul li a {
    color: black;
    text-decoration: none;

}
nav a:hover{
    color: #009fff;
}


/* End Nav */

/* Buttons */
.button {
    grid-area: buttons;
    padding-top: 30px;
    margin-top: -25px;
    margin-right: 20px;
    */
    /*padding-top: 30px;*/
}

.navbuttons {
    margin-top: 10px;
    display: grid;
    height: auto;
    grid-template: auto / repeat(2, 1fr);
    */
    /*align-content: center;*/
}
#button a {
    text-decoration: none;
}

#button1 a {
    text-decoration: none;
}


#button {
    background-color: #009fff;
    color: #ffffff;
    border: 2px solid #e7e7e7;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
}

#button1,
#button {
    width: 100px;

}

input[type="button"],
#button1 {
    background-color: #ffffff;
    color: black;
    border: 2px solid lightgrey;
    border-radius: .5em;
    padding: .5em;
    font-size: 1.1em;
    margin-bottom: ;

}

input[type="button"]:hover {
    border-color: #0AB1D0;
    border-width: thin;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
}

/* End Buttons */

header {
    grid-area: header;
    background-color: #009fff;
    border-top: 7px solid #37c0da;
    border-bottom: 7px solid #37c0da;
    text-align: center;
    margin-bottom: 3em;
}

form {
    grid-area: form;

}

#myschedule {
    grid-area: mySchedule;
    width: 31.25rem;
    height: 26.56rem;
    /*position: relative;*/
    padding-top: 1.7em;
}

#test {
    grid-area: test;
    /*width: 130px;
    height: 150px;*/
    /*position: absolute;*/
}

#contactInfo {
    grid-area: contactInfo;
    width: 500px;
    height: 425px;
    margin-top: 1em;

}

#FAQ {
    grid-area: FAQ;
    margin-top: 2em;
}

.blueborder {
    grid-area: blueBorder;
    background-color: #009fff;
    height: 4em;
}

/*Footer Begin*/
.footer {
    grid-area: footer;
    height: 8em;
    background-color: black;
}

.footer p {
    color: white;
    text-align: center;
    font-size: 1.2em;
    font-family: "Open Sans";
    margin: 25px 0 0 0;
    margin-right: 18px;
}

/*Sprites*/
.social-media {
    margin: 0 auto;
    width: 250px;
}

.social-media div {
    float: left;
    margin-left: 5px;
    margin-right: 1px;
}

.social-media a {
    display: block;
    width: 50px;
    height: 47px;
    text-indent: -9999px;
}

.social-media div.one {
    background: url('../images/socialmediaiconscropped.png') 0 0;
}

.social-media div.two {
    background: url('../images/socialmediaiconscropped.png') -48px 0;
}

.social-media div.three {
    background: url('../images/socialmediaiconscropped.png') -98px 0;
}

.social-media div.four {
    background: url('../images/socialmediaiconscropped.png')-148px 0;
}

/*End Footer*/

/*Beginning Form Grid Areas*/
#note {
    grid-area: note;
    margin-bottom: 1em;
    margin-top: .5em;
    font-size: 1.2em;
}

.label1 {
    grid-area: label1;
}

.input1 {
    grid-area: input1;
}

.label2 {
    grid-area: label2;
}

.input2 {
    grid-area: input2;
}

.label3 {
    grid-area: label3;
}

.input3 {
    grid-area: input3;
}

.label4 {
    grid-area: label4;
}

.input4 {
    grid-area: input4;
}

.label5 {
    grid-area: label5;
}

.input5 {
    grid-area: input5;
}

.label6 {
    grid-area: label6;
}

.input6 {
    grid-area: input6;
}

.label7 {
    grid-area: label7;
}

.input7 {
    grid-area: input7;
}

.label8 {
    grid-area: label8;
}

.input8 {
    grid-area: input8;
}

.label9 {
    grid-area: label9;
}

.input9 {
    grid-area: input9;
}

.submitButton {
    grid-area: submitButton;
}

/*End Form Grid Area*/

/******Begin My Schedule, Contact, and Google Map Styles*******/
#myschedule > iframe {

    margin-bottom: 1.3em;
}

h2 {
    text-align: center;

}

.big-container {
    margin-bottom: 1.3em;
}

/* Google Maps Styles */

.gmap_canvas {
    /*margin-top: 6.1em;*/
}

#imageMap {
    grid-area: imageMap;
}

.mapouter {
    /*text-align: right;*/
    height: 100%;
    width: 100%;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
    margin-top: 7.5em;
}


/*End My Schedule, Contact, and Google Map Styles*/
/***************************************************/

/*General Questions Form Styles*/

input[type="email"],
input[type="text"],
input[type="tel"],
textarea,
select {
    width: 23em;
    height: 2.4em;
    padding: .4em .6em;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: .25em;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1em;
}

textarea {
    min-height: 4em;
    padding-top: .4em;
    padding-bottom: .4em;
}

.label1 > label,
.label2 > label,
.label3 > label,
.label4 > label,
.label5 > label > legend,
.label6 > label > legend,
.label7 > label,
.label8 > label,
.label9 > label {
    display: block;
    /*float: left;*/
    width: 19em;
    height: 2em;
    font-weight: 600;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin: .5em;
}

input:required {
    border: 1px solid #0AB1D0;
}

input[type="text"]:valid,
input[type="tel"]:valid,
input[type="email"]:valid {
    border-color: rgb(0, 128, 0);
}

input.error {
    border-color: red;
}

input::placeholder {
    color: lightgray;
    font-size: 1.2em;
    font-style: italic;
}

#customFitnessPackages {
    margin-bottom: 2em;
}

#questions {
    font-size: 2em;
}

#contactInfo > h3 {
    /*margin-left:17.8em;*/
    font-size: 1.3em;
    line-height: 1.5em;
    /*float: right;*/

}

#contactInfo > p:nth-child(2),
#contactInfo > p:nth-child(3) {
    /*margin-left: 21em;*/
    font-size: 1.1em;
    line-height: 1.5em;

}

#contactInfo > p:nth-child(3) {
    /*margin-bottom: 3em;*/
}

h1 #contactMe {
    margin-top: 1em;
    font-family: "Open Sans";
}

#advanced {
    margin-bottom: 1.3em;

}

/*End General Questions Form Styles*/

/*FAQ Styles*/
h4 {
    text-align: center;
}

/*Modal Pop Styles*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 26rem;
    border-radius: 0.5rem;

}

.close-button {
    /*float: right;*/
    width: 3rem;
    line-height: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.trigger {
    /*border-color: #0AB1D0;
    border-width: thick;*/
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.2);
    /*margin-bottom: 1.9em;*/
    /*border-radius: .5em;*/
}

.trigger:hover {
    /*border-color: #0AB1D0;
    border-width: thick;*/
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.7);
}

.trigger,
.trigger:hover {
    margin-left: 4.3em;
    /*margin-bottom: 1.3em;*/
    padding: 5px;
    border-radius: .5em;
    border-color: #0AB1D0;
    border-width: thick;
    font-size: 1.6em;
    /*width: 100px;
    height: 130px;*/
}

hr {
    margin: .5em 0;
}

/*End Modal Pop Styles*/

/****************************************************************
/****************************************************************
/* Mobile Portrait Media Query*/
/* MEDIA QUERIES */

@media screen and (Max-width: 959px) {}



/*TABLET PORTRAIT MEDIA QUERY*/

@media screen and (min-width:768px)and (max-width:959px) {}





/*END TABLET PORTRAIT MEDIA QUERY*/

/*Google Calendar Media Query*/
@media (max-width: 550px) {
    .big-container {
        display: none;
    }
}

@media (min-width:550px) {
    .small-container {
        display: none;
    }
}

/*MOBILE LANDSCAPING MEDIA QUERY*/

/*@media screen and (min-width:480px) and (max-width:767px) {}*/


/*END MOBILE LANDSCAPING MEDIA QUERY*/



/*MOBILE PORTRAIT MEDIA QUERRY*/
@media screen and (min-width 360px) and (max-width:720px) {
    #contactWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "logo"
            "nav"
            "header"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "mySchedule"
            "mySchedule"
            "mySchedule"
            "mySchedule"
            "test"
            "contactInfo"
            "contactInfo"
            "contactInfo"
            "contactInfo"
            "imageMap"
            "imageMap"
            "imageMap"
            "imageMap"
            "FAQ"
            "footer";
        /*width:32%;*/
    }

    #fieldset {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset";
        margin: 0;
        /*margin-left:.1em;
        margin-right:1em;*/
    }

    #formGrid {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "note"
            "."
            "label1"
            "input1"
            "label2"
            "input2"
            "label3"
            "input3"
            "label4"
            "input4"
            "label5"
            "input5"
            "label6"
            "input6"
            "label7"
            "input7"
            "label8"
            "input8"
            "label9"
            "input9"
            "submitButton";
    }

}

/*#contactWrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "logo logp"
            "nav nav"
            "header header"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "form form"
            "mySchedule mySchedule"
            "mySchedule mySchedule"
            "mySchedule mySchedule"
            "mySchedule mySchedule"
            "test test"
            "contactInfo contactInfo"
            "contactInfo contactInfo"
            "contactInfo contactInfo"
            "contactInfo contactInfo"
            "imageMap imageMap"
            "imageMap imageMap"
            "imageMap imageMap"
            "imageMap imageMap"
            "FAQ FAQ"
            "footer footer";*/
/*width:32%;*/
/*}*/
/*#fieldset {
        display: grid;
        grid-template-columns: (2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset"
            "fieldset fieldset";
        margin:0;*/
/*margin-left:.1em;
        margin-right:1em;*/
}

#formGrid {
    /*display: grid;
        grid-template-columns: (2, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "note note"
            ". ."
            "label1 input1"
            "label2 input2" 
            "label3 input3"
            "label4 input4" 
            "label5 input5"
            "label6 input6"
            "label7 input7"
            "label8 input8"
            "label9 input9"
            "submitButton submitButton";
    
    }*/
}

@media screen and (max-width:479px) {
    #contactWrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "logo"
            "nav"
            "header"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            "form"
            /*"mySchedule"
            "mySchedule"
            "mySchedule"
            "mySchedule"*/
            "test"
            "contactInfo"
            "contactInfo"
            "contactInfo"
            "contactInfo"
            "imageMap"
            "imageMap"
            "imageMap"
            "imageMap"
            "FAQ"
            "blueBorder"
            "footer";
        /*width:32%;*/
    }

    #fieldset {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset"
            "fieldset";
        margin: 0;
        /*margin-left:.1em;
        margin-right:1em;*/
    }

    #formGrid {
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "note"
            "."
            "label1"
            "input1"
            "label2"
            "input2"
            "label3"
            "input3"
            "label4"
            "input4"
            "label5"
            "input5"
            "label6"
            "input6"
            "label7"
            "input7"
            "label8"
            "input8"
            "label9"
            "input9"
            "submitButton";

    }

    .small-container {
        margin-bottom: 1.2em;
    }

    #myschedule {
        width: 26rem;
        height: 26.56rem;
        /*position: relative;*/
        padding-top: 1.7em;
        margin: auto;
    }

    /* Tried playing around with different layouts*/

    /*#contactWrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "logo nav nav nav nav buttons"
            "header header header header header header"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "form form form form form form"
            "mySchedule mySchedule mySchedule mySchedule mySchedule mySchedule"
            "mySchedule mySchedule mySchedule mySchedule mySchedule mySchedule"
            "mySchedule mySchedule mySchedule mySchedule mySchedule mySchedule"
            "mySchedule mySchedule mySchedule mySchedule mySchedule mySchedule"
            "test test test test test test"
            "contactInfo contactInfo contactInfo contactInfo contactInfo contactInfo"
            "contactInfo contactInfo contactInfo contactInfo contactInfo contactInfo"
            "contactInfo contactInfo contactInfo contactInfo contactInfo contactInfo"
            "contactInfo contactInfo contactInfo contactInfo contactInfo contactInfo"
            "imageMap imageMap imageMap imageMap imageMap imageMap"
            "imageMap imageMap imageMap imageMap imageMap imageMap"
            "imageMap imageMap imageMap imageMap imageMap imageMap"
            "imageMap imageMap imageMap imageMap imageMap imageMap"
            "FAQ FAQ FAQ FAQ FAQ FAQ"
            "footer footer footer footer footer footer";
    }*/

    /* Tried redefining the 2nd grid to see if it will work, but it did not*/

    /*#fieldset {
        display: grid;
        grid-template-columns: (6, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset"
            "fieldset fieldset fieldset fieldset fieldset fieldset";
    }*/
/* Tried playing around with different layouts*/
    .button,
    .navbuttons,.small-container {
        display: none;
    }

}

/*END MOBILE PORTRAIT MEDIA QUERRY*/

/*Responsive iframe-container*/

.responsive-iframe-container {
    position: relative;
    padding-bottom: 75% !important;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
